<a href="/" title="back">back to table</a>

<div>
  <h2>User Details</h2>
  <h1>{{ selectedUser?.fullName }}</h1>
  <h3>{{ selectedUser?.displayName }}</h3>
  <p>{{ selectedUser?.email }}</p>
  <p>{{ selectedUser?.details }}</p>
</div>

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <label for="fullName">Full Name </label>
  <input
    id="fullName"
    class="class-control"
    type="text"
    name="fullName"
    ngModel
  />
  <br />
  <label for="displayName"> Display Name </label>
  <input
    id="displayName"
    class="class-control"
    type="text"
    name="displayName"
    ngModel
  />
  <br />
  <label for="email"> Email </label>
  <input id="email" class="class-control" type="text" name="email" ngModel />
  <br />
  <label for="details">Details</label>
  <textarea
    id="details"
    class="class-control"
    type="text"
    name="details"
    ngModel
  ></textarea>
  <br />
  <button type="submit">Save</button>
</form>
