<h1>Users Table</h1>
<div>
  <table>
    <tr>
      <th (click)="onSortById()" style="cursor: pointer">id &#x25B2;</th>
      <th (click)="onSortByName()" style="cursor: pointer">
        Full Name &#x25B2;
      </th>
      <th>Display Name</th>
      <th>email</th>
      <th>details</th>
    </tr>

    <tr *ngFor="let user of usersForTable">
      <td>{{ user.id }}</td>
      <td>{{ user.fullName }}</td>
      <td>{{ user.displayName }}</td>
      <td>{{ user.email }}</td>
      <td>
        <a [routerLink]="['details', user.id]"> Go to User Details </a>
      </td>
    </tr>
  </table>
</div>
